html {
    overflow: hidden;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

div {
    margin: 0;
    padding: 0;
}

#bp3d-js-app {
    overflow: hidden;
}

#bp3djs-viewer2d,
#bp3djs-viewer3d {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

#bp3djs-controls {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}